{
    "presets": ["next/babel"],
    "plugins": [
      [
          "module-resolver",
          {
              "root": ["."],
              "alias": {
                //   "@utils": "./utils",   // will connect to all utiliy related functions
                  "@components": "./components",  // to all defined components
                  "@firebase": "./firebase",  // to all defined components
                //   "@widgets": "./components/widgets",  //  to all defined widget components
                  "@reducers": "./redux-store/reduxReducers"  //  redux related files like-  actions, reducers
              }
          }
      ]
    ]
  }