.content_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

.content_space {
    height: calc(100vh - 100px) !important;
    overflow-y: auto !important;
    margin: 0 !important;
}

.add_menu {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
}