.category_header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.category_details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.add_category_meta {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}