/** padding */
.p_0 {
  padding: 0 !important;
}
.ph_0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.pv_0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p_5 {
  padding: 5px !important;
}
.ph_5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.pv_5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/** margin */
.m_0 {
  margin: 0 !important;
}
.mh_0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mv_0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/** overflow */
.oy-a {
  overflow-y: auto !important;
}

/** backgrounds */

.bg_t {
  background: transparent !important;
}

/** coomom- flex-displays **/
.d_f {
  display: flex !important;
}

.fd_r {
  flex-direction: row !important;
}

.fd_c {
  flex-direction: column !important;
}

.jc_s {
  justify-content: flex-start !important;
}

.jc_c {
  justify-content: center !important;
}

.jc_e {
  justify-content: end !important;
}

.jc_sb {
  justify-content: space-between !important;
}

.ai_c {
  align-items: center !important;
}